
@{
	ViewBag.Title = "Inicio";
	Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<div class="row">
	<center>
		<img src="~/Content/img/pago.jpg" alt="dashboard" class="img-responsive" style="height:500px; width:600px;">
	</center>
</div>
