@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutBasePlanillas.cshtml";
}

<div class="row">

    <center>
        <img src="~/Content/img/payroll.jpg" alt="dashboard" class="img-responsive animated fadeInUp" style="height:469px; width:626px; margin-top:40px;">
    </center>
</div>
