@model ERP_GMEDINA.Models.tbInstitucionesFinancieras

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/Content/animate.css" rel="stylesheet" />
<link href="~/Content/plugins/dropzone/basic.css" rel="stylesheet" />
<link href="~/Content/plugins/dropzone/dropzone.css" rel="stylesheet" />
<link href="~/Content/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/plugins/codemirror/codemirror.css" rel="stylesheet" />
<link href="~/Content/style.css" rel="stylesheet" />

@{
    ViewBag.Title = "CargaDocumento";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

@using (Html.BeginForm("_CargaDocumento", "InstitucionesFinancieras", FormMethod.Post, new { enctype = "multipart/form-data", @id = "dropzoneForm" }))
{
    <div class="wrapper wrapper-content animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h2>Carga de Planilla externa de Deduccion </h2>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <i class="fa fa-cog"></i>&nbsp;Configuración
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-md-6">
                                            <p>Seleccionar Institucion Financiera a la cual sera asignada la planilla:</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p>Seleccionar Tipo de Deduccion: (Ejemplo: "Instituciones Financieras, etc...")</p>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    @Html.DropDownList("cboINFS", ViewData["INFS"] as SelectList, "Seleccione una opcion...", new { @class = "select2_demo_3 form-control select2-hidden-accessible", @required = true })
                                                </div>
                                                <div class="col-md-6">
                                                    @Html.DropDownList("cboIdDeduccion", new SelectList(ViewBag.Deducciones, "cde_IdDeducciones", "cde_DescripcionDeduccion"), "Seleccione una opcion...", new { @class = "select2_demo_3 form-control select2-hidden-accessible", @required = true })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <hr class="aligncenter border-size-sm" />
                            </div>
                        </div>


                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-cloud-upload"></i>&nbsp;Favor seleccionar planilla externa (Excel), para ser cargada al sistema:
                            </div>
                            <div class="panel-body">


                                <div class="row">
                                    <div class="col-md-12">
                                       
                                        <div class="fileinput fileinput-new input-group" data-provides="fileinput">
                                            <div class="form-control" data-trigger="fileinput">
                                                <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                                <span class="fileinput-filename"></span>
                                            </div>
                                            <span class="input-group-addon btn btn-primary btn-file">
                                                <span class="fileinput-new">Seleccionar archivo</span>
                                                <span class="fileinput-exists">Cambiar</span>
                                                <input name="archivoexcel" id="archivoexcel" type="file" required />
                                            </span>
                                            <a href="#" class="input-group-addon btn btn-danger fileinput-exists" data-dismiss="fileinput">Remover</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="ibox-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <h3><i class="fa fa-exclamation-triangle">&nbsp;Nota: </i>&nbsp; Favor asegurarse de seleccionar el archivo correcto.</h3>

                            </div>

                        </div>

                        <br>
                        <button class="btn btn-primary col-md-offset-5 demo1" type="submit"><i class="fa fa-upload"></i>&nbsp;&nbsp;<span class="bold">Enviar Documento</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Mainly scripts -->

    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/metisMenu/metisMenu.min.js"></script>
    <script src="~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="~/Scripts/app/inspinia.js"></script>
   

    <!-- Jasny -->

    <script src="~/Scripts/plugins/jasny/jasny-bootstrap.min.js"></script>
    <!-- DROPZONE -->

    <script src="~/Scripts/plugins/dropzone/dropzone.js"></script>
    <!-- CodeMirror -->
    <script src="~/Scripts/plugins/codemirror/codemirror.js"></script>
    <script src="~/Scripts/plugins/codemirror/mode/xml/xml.js"></script>

    <script>

    $(document).ready(function () {

        $('.demo1').click(function(){
            swal({
                title: "Carga en Proceso",
                text: "Su archivo se esta cargando al sistema. Favor esperar pacientemente. Cuando se finalice la carga, sera redirigido a la pagina principal."
            });
        });

        $('.demo2').click(function(){
            swal({
                title: "Good job!",
                text: "You clicked the button!",
                type: "success"
            });
        });

        $('.demo3').click(function () {
            swal({
                title: "Are you sure?",
                text: "You will not be able to recover this imaginary file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            }, function () {
                swal("Deleted!", "Your imaginary file has been deleted.", "success");
            });
        });

        $('.demo4').click(function () {
            swal({
                        title: "Are you sure?",
                        text: "Your will not be able to recover this imaginary file!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes, delete it!",
                        cancelButtonText: "No, cancel plx!",
                        closeOnConfirm: false,
                        closeOnCancel: false },
                    function (isConfirm) {
                        if (isConfirm) {
                            swal("Deleted!", "Your imaginary file has been deleted.", "success");
                        } else {
                            swal("Cancelled", "Your imaginary file is safe :)", "error");
                        }
                    });
        });


    });

    </script>

}




