.btn-home {
padding:3%;
width: 100%;
height:100%;
flex: 1;
display: flex;

}
.font-home {
font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
text-align:center;
font-size:large;

}
.flex {
 display:flex;
  justify-content:space-around;
}
