@model ERP_GMEDINA.Models.tbHistorialSalidas


        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormInactivar" }))
        {
            <div class="blockquote">

                <p>

                    Esta accion puede tener repercuciones en otras secciones del sistema
                    (Si sucede un error,consulte al administrador)

                </p>
            </div>

        }



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
