<div class="modal fade" id="ModalHabilitar" tabindex="-1" role="dialog" aria-hidden="false" data-id="">
 <div class="modal-dialog">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
    <h4 class="modal-title">Activar</h4>
   </div>
   <div class="modal-body" id="Activar">
    ¿Está seguro que desea Activar este registro?
   </div>
   <input type="hidden" value="" id="txtIdRestore">
   <div class="modal-footer">
    <button type="button" class="btn btn-white pull-right" data-dismiss="modal">No</button>
    <button type="button" class="btn btn-primary pull-right" id="btnActivar" data-dismiss="modal">Si</button>
   </div>
  </div>
 </div>
</div>
