@model ERP_GMEDINA.Models.tbCatalogoDeDeducciones
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmCatalogoDeduccionesCreate" }))
{
    <div class="modal-body" id="Crear">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-md-6">
                    Descripción<label class="" id="AsteriscoDescripcionDedu" style="opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>
                    @Html.EditorFor(model => model.cde_DescripcionDeduccion, new { htmlAttributes = new { @class = "form-control", @maxlength = "100", @autocomplete = "off", @id = "cde_DescripcionDeduccionA", onkeyup = "ValidarCrear(this.value, '-1', '-1', '-1')" } })
                    <label class="text-danger" id="Validation_descipcionA" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Campo Descripción requerido.</label>
                </div>
                <div class="col-md-6">
                    Tipo de Deducción<label class="" id="AsteriscoTipoDedu" style="opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>
                    <select id="tde_IdTipoDedu" name="tde_IdTipoDedu" class="form-control" onchange="ValidarCrear('-1', this.value, '-1', '-1')"></select>
                    <label class="text-danger" id="Validation_descipcion2A" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Campo Tipo Deducción requerido.</label>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    Porcentaje Colaborador<label class="" id="AsteriscoPorcentajeColaborador" style="opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>
                    @Html.EditorFor(model => model.cde_PorcentajeColaborador, new { htmlAttributes = new { @class = "form-control MascaraCantidad", @autocomplete = "off", @id = "cde_PorcentajeColaboradorA", onkeyup = "ValidarCrear('-1', '-1', this.value, '-1')" } })
                    <label class="text-danger" id="Validation_descipcion3AR" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Campo Porcentaje Colaborador requerido.</label>
                </div>

                <div class="col-md-6">
                    Porcentaje Empresa<label class="" id="AsteriscoPorcentajeEmpresa" style="opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">*</label>
                    @Html.EditorFor(model => model.cde_PorcentajeEmpresa, new { htmlAttributes = new { @class = "form-control MascaraCantidad", @autocomplete = "off", @id = "cde_PorcentajeEmpresaA", onkeyup = "ValidarCrear('-1', '-1', '-1', this.value)" } })
                    <label class="text-danger" id="Validation_descipcion4AR" style="display:none; opacity: 1; font-family: open sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: normal;">Campo Porcentaje Empresa requerido.</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="button" id="btnCreateRegistroDeduccion" value="Guardar" class="btn btn-primary pull-left" />
        <button type="button" class="btn btn-white" data-dismiss="modal" id="btnCerrarCrear">Cerrar</button>
    </div>

}
