
@{
    ViewBag.Title = "Datatable";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<h2>Datatable</h2>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Base Datatable</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
               // <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending" style="width: 210px;">Columna @*@Html.DisplayNameFor(model => model.clte_Identidad)*@</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 260px;">Columna @*@Html.DisplayNameFor(model => model.clte_Nombre)*@</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 235px;">Columna @*@Html.DisplayNameFor(model => model.clte_Apellido)*@</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 180px;">Columna @*@Html.DisplayNameFor(model => model.clte_FechaNacimiento)*@</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 128px;">Columna @*@Html.DisplayNameFor(model => model.clte_Sexo)*@</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 128px;">Columna @*@Html.DisplayNameFor(model => model.clte_Telefono)*@</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 128px;">Columna @*@Html.DisplayNameFor(model => model.clte_Correo)*@</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 128px;">Columna </th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in Model)
                            {*@
                            @*var Sexo = item.clte_Sexo == "M" ? "Masculino" : "Femenino";*@
                            <tr class="gradeA odd" role="row" data-id="@*@item.clte_Id*@">
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.clte_Identidad)*@ data
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.clte_Nombre)*@ data
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.clte_Apellido)*@ data
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.clte_FechaNacimiento)*@ data
                                </td>
                                <td>
                                    @*@Sexo*@ data
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.clte_Telefono)*@ data
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.clte_Correo)*@ data
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-xs" id="btnEditarCliente">Editar</button>
                                    <button type="button" class="btn btn-default btn-xs" id="btnDetalleCliente">Detalle</button>
                                </td>
                            </tr>
                            <tr class="gradeA odd" role="row" data-id="@*@item.clte_Id*@">
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.clte_Identidad)*@ data
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.clte_Nombre)*@ data
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.clte_Apellido)*@ data
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.clte_FechaNacimiento)*@ data
                                </td>
                                <td>
                                    @*@Sexo*@ data
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.clte_Telefono)*@ data
                                </td>
                                <td>
                                    @*@Html.DisplayFor(modelItem => item.clte_Correo)*@ data
                                </td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-xs" id="btnEditarCliente">Editar</button>
                                    <button type="button" class="btn btn-default btn-xs" id="btnDetalleCliente">Detalle</button>
                                </td>
                            </tr>
                            @*}*@
                        </tbody>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">Columna @*@Html.DisplayNameFor(model => model.clte_Identidad)*@</th>
                                <th rowspan="1" colspan="1">Columna @*@Html.DisplayNameFor(model => model.clte_Nombre)*@</th>
                                <th rowspan="1" colspan="1">Columna @*@Html.DisplayNameFor(model => model.clte_Apellido)*@</th>
                                <th rowspan="1" colspan="1">Columna @*@Html.DisplayNameFor(model => model.clte_FechaNacimiento)*@</th>
                                <th rowspan="1" colspan="1">Columna @*@Html.DisplayNameFor(model => model.clte_Sexo)*@</th>
                                <th rowspan="1" colspan="1">Columna @*@Html.DisplayNameFor(model => model.clte_Telefono)*@</th>
                                <th rowspan="1" colspan="1">Columna @*@Html.DisplayNameFor(model => model.clte_Correo)*@</th>
                                <th rowspan="1" colspan="1">Columna </th>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>



@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">

        $(document).ready(function () {
            $('.dataTables-example').DataTable({
                "language": {"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"},
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]
            });
        });
    </script>
    }
