@model ERP_GMEDINA.Models.tbEmpleadoComisiones

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmEmpleadoComisionesActivar" }))
{
    <div class="ibox-content">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.cc_Id)
           
        </div>
        <div class="modal-body" id="Activar">
            ¿Está seguro que desea Activar este registro?
        </div>
    </div>
    <div class="modal-footer">
        @*data-dismiss="modal"*@
        <button type="submit" class="btn btn-primary pull-left" id="btnActivarRegistroComisiones">Si</button>
        <button type="submit" class="btn btn-white pull-right" data-dismiss="modal" id="btnCerrarModaledit">No</button>

    </div>
}
