
@{
    Layout = "~/Views/Shared/_LayoutBaseRRHH.cshtml";
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>UH-OH!</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
</head>

<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1></h1>
        <h3 class="font-bold">Algo salio mal</h3>

        <div class="error-desc">
            Lo sentimos, pero no hemos podido comunicarnos con la base de datos.
            Puedes regresar a la página principal aquí: <br /><a href="@Url.Action("Index", "Menu")" class="btn btn-primary m-t">Inicio</a>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>

</html>
