@model ERP_GMEDINA.Models.tbTipoHoras


        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "FormInactivar" }))
        {

            <div class="blockquote">

                <p>
                    Esta acción puede tener repercusiones en otras secciones del sistema. Si ocurre un error contacte al administrador.

                </p>
            </div>
        }



@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
