td.details-control {
    background: url('../../img/mas.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../../img/menos.png') no-repeat center center;
}

#tblCatalogoPlanillas_next {
    background: url(../../img/flecha-derecha.png) no-repeat center left;
}

.no-sort::after {
    display: none !important;
}

.no-sort {
    pointer-events: none !important;
    cursor: default !important;
    padding: 13px !important;
}

.data {
    width: 300px;
    height: 400px;
    overflow: scroll;
}

.data-details {
    width: 460px;
    height: 300px;
    overflow: scroll;
}
