@using ReportViewerForMvc;
@{
    ViewBag.Title = "Reporte Historial de Ingresos";
    Layout = "~/Views/Shared/_LayoutBasePlanillas.cshtml";
}

<div class="row" style="">
    <div class="col-lg-12">
        <div class="float-e-margins">
            <div class="ibox-title">
                <h5>Previsualización de reporte Historial de Ingresos</h5>
                <div class="ibox-tools">
                    @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-default btn-xs pull-right" })
                </div>
            </div>
            @{
                if (ViewBag.ReportViewerIgresos != null)
                {
                    <div class="ibox-content">
                        @Html.ReportViewer(ViewBag.ReportViewerIgresos as Microsoft.Reporting.WebForms.ReportViewer)
                    </div>
                }
            }
        </div>
    </div>
</div>