
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<form>
    <div class="row col-md-offset-5">
        <h1><i class="fa fa-home"></i> BIENVENIDOS. . .</h1>
    </div>
</form>




